@model IEnumerable<JunkOutDBModel.Bin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BinSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlatRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinTonnageAwarded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxRentalDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BinSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlatRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinTonnageAwarded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxRentalDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.ID }, new { @class = "glyphicon glyphicon-edit", title = "Edit" }) |
            @Html.ActionLink(" ", "Details", new { id=item.ID }, new { @class = "glyphicon glyphicon-info-sign", title = "Details" }) |
            @Html.ActionLink(" ", "Delete", new { id=item.ID }, new { @class = "glyphicon glyphicon-remove", title = "Delete" })
        </td>
    </tr>
}

</table>
