@using JunkOut.Models

@model IEnumerable<JunkOutDBModel.Order>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("SortOrders", "Orders"))
{
    <div style="display:inline;float:left;width:200px;">
        <p>JobType: </p>
        @Html.CheckBox("Bin Rental", true)  <span>Bin Rental</span><br />
        @Html.CheckBox("Junk Removal", true) <span>Junk Removal</span><br />
        @Html.CheckBox("Demolition", true) <span>Demolition</span><br />
    </div>
    <div style="display:inline;float:left;width:200px;">
        <p>Status: </p>
        @Html.CheckBox("New", true)  <span>New</span><br />
        @Html.CheckBox("Pending", true) <span>Pending</span><br />
        @Html.CheckBox("Confirmed", true) <span>Confirmed</span><br />
        @Html.CheckBox("Delivered", true) <span>Delivered</span><br />
        @Html.CheckBox("Completed", true) <span>Completed</span><br />
    </div>
    <div style="display:inline;float:left;width:200px;">
        <p>Order By Delivery Date: </p>
        @Html.RadioButton("orderByDelivery", "deliveryAsc", true) <span>Ascending</span>
        @Html.RadioButton("orderByDelivery", "deliveryDesc", false) <span>Descending</span>
    </div>

    <input type="submit" value="Search" />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", title = "Edit" }) |
                @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-info-sign", title = "Details" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-remove", title = "Delete" })
            </td>
        </tr>
    }

</table>
